@font-face {
    src: url("myfont.ttf");
    font-family: myfont;
}


@keyframes wiggle {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(9deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes wave {
    0% {
        transform: skew(0deg) rotate(0deg);
    }
    25% {
        transform: skew(0.3deg) rotate(0.3deg);
    }
    50% {
        transform: skew(0deg) rotate(0deg);
    }
    75% {
        transform: skew(-0.3deg) rotate(-0.3deg);
    }
    100% {
        transform: skew(0deg) rotate(0deg);
    }
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    /*sets the padding to be inside the witdth and height*/
    text-decoration: none;
    list-style-type: none;
    font-family: myfont;
}

body {
    background: linear-gradient(to bottom right, #fefefe, #e0e0e0);
    height: 100vh;
}

.wrapper {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 75px);
}

.navbar {
    z-index: 10;
    height: 70px;
    width: 100%;
    overflow: hidden;
    background: #00558d;
    background: linear-gradient(to right, #0070bb, #00558d, #0070bb);
    border-bottom: 2px solid #ddd;
}

.navbar .logo {
    color: #fff;
    float: left;
    font-size: 3rem;
    line-height: 70px;
    width: 200px;
    background-color: rgba(0, 59, 148, 0.5);
    border-right: 3px solid #fff;
    padding-left: 15px;
}

.navbar ul {
    float: right;
    line-height: 70px;
}

.navbar li {
    display: inline-block
}

.navbar li a {
    color: #fff;
    display: block;
    width: 100px;
    text-align: center;
    border-right: 1px solid #00375c;
}

.navbar li a:hover,
.navbar li a.active {
    background: rgba(0, 0, 0, 0.2);
}

.box-main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 75px);
    overflow-y: visible;
}

.box-sub {
    margin: 0 5px;
    background: #fff;
    height: 420px;
    padding: 4px 8px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    position: relative;
    width: 100%;
}

.box-sub a {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flags-box {
    background: url("flags-bg.jpg");
    background-size: cover;
    background-position: center;
}

.box-sub .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 0;

}

.box-sub:hover {
    background-size: 200%;

}

.box-sub a:hover>.overlay {
    background: rgba(0, 0, 0, 0.7);

}

.box-sub a:hover>.top-text span {
    animation: wiggle 1.5s infinite linear;

}

.box-sub a .bottom-text {
    color: #fff;
    z-index: 3;
    margin-top: auto;
}

.box-sub a .top-text {
    font-weight: 900;
    color: #fff;
    z-index: 3;
    font-size: 1.3rem;
}

.box-sub a .top-text span {
    font-size: 3rem;
    display: inline-block;
    transform: rotate(5deg);
}

.tictactoe {
    background: url("tic-tac-toe-board.png");
    background-size: cover;
    background-position: center;
}

.work-sections {
    height: calc(100vh - 75px);
    overflow-y: visible;
}

.work-sections .section-header {
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 15px;
}

.flags-container {
    width: auto;
    margin: 0 auto;
}

.flag {
    position: relative;
    height: 200px;
    width: 30%;
    min-width: 380px;
    margin: 1.5% 1.5%;
    display: inline-block;
    transform-origin: left top;
    transform-style: preserve-3d;
    transform-box: border-box;
    border: 1px solid #000;
    border-left: 12px solid silver;
}

.flag .country-name {
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    bottom: -1.5rem;
}

.flag:hover {
    animation: wave 1.5s infinite linear;
}

.flag .one-third-rows {
    height: 33.3%;
    width: 100%;
    position: absolute;
}

.flag .full {
    width: 100%;
    height: 198px;
}

.flag .center-circle {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 33.3%;
    right: 0;
}

.flag .one-third-rows:nth-child(2) {
    top: 33.3%;
}

.flag .one-third-rows:nth-child(3) {
    bottom: 0%;
}

.flag .one-third-columns {
    position: absolute;
    width: 33.3%;
    height: 198px;
}

.flag .one-third-columns:nth-child(2) {
    left: 33.3%;
}

.flag .one-third-columns:nth-child(3) {
    right: 0%;
}

.flag .half-columns {
    height: 198px;
    width: 50%;
    position: absolute;
}

.flag .half-columns:nth-child(2) {
    left: 50%;
}

.stay-ontop {
    z-index: 4;
}

.flag .half-rows {
    height: 50%;
    width: 100%;
    position: absolute;
}

.flag .half-rows:nth-child(2) {
    bottom: 0%;
}

.flag .half-rows.bottom-row {
    bottom: 0;
}

.flag .half-rows.top-row {
    top: 0;
}

.flag .red {
    background-color: #ce0000;
}

.flag .blue-black {
    background-color: #002a79;
}

.flag .light-orange {
    background-color: #ffaa0d;
}

.flag .black {
    background-color: #111111;
}

.flag .yellow {
    background-color: #fbff00;
}

.flag .dark-green {
    background-color: #008a07;
}

.flag .green {
    background-color: #00a508;
}

.blog-container {
    height: calc(100vh - 100px);
    width: 96%;
    margin: 12px auto;
}

.blog-container .blog-title {
    font-size: 3rem;
    background: #e2e2e2;
    padding-bottom: 50px;
    padding-top: 20px;
    border-bottom: 2px solid #ddd;
}

.blog-container .blog-content {
    font-size: 1.2rem;
    background: #fff;
    padding: 5px;
    height: calc(100vh - 260px);
    overflow: hidden;
    overflow-y: auto;
}

.blog-container .date-posted {
    text-align: right;
    font-weight: 100;
    font-size: 1.1rem;
    background: #474545;
    border-top: 2px solid #ddd;
    width: 100%;
    padding: 5px 10px;
}
#Wrapper{
    display: flex;
    flex-direction: row;
}
#section2{
    padding: 20px;
    width: 50%;
    display:block;
    float:right;
}
#section1{
    width:50%;
    padding: 20px;
}
#section2 input,label,textarea,select{
    display: block;
    padding-bottom: 5px;
    border: none;
}
input[type="Email"],input[type="text"]{
    width: 300px;
}
textarea{
    width: 300px;
    height: 200px;
}
input[type="submit"]{
    background-color: #0070bb;
    border: none;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    padding: 20px 20px 20px  20px;
}
#w_sec1 img{
    border-radius: 100%;
    padding: 10px ;
}
#subsec{
    padding-top: 55px;
}
#w_sec1{
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
}
#w_sec1 h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
}
#w_sec2 ul ul {
display: block;
list-style-type: disc;
margin-bottom: 1 em;
margin-left: 0;
margin-right: 0;
padding-left: 40px;
}
#w_sec2{
    margin: 20px;
}
#w_sec3{
    margin: 20px;
}
#experiance td{
    padding-left: 1em;
    padding-bottom: 0.3em;
}
#experiance{
    padding-bottom: 1em;
}
footer p{
    text-align: center;
    padding-top: 1em;
}
footer p:nth-child(2){
    color:#0070bb ;
}
footer{
    padding-bottom: 30px;
}
#name{
    font-size: 2rem;
    text-align: center;
}
#imagescontainer img{
    display: inline-flex;
    width: 30%;
    height: 30%;
    margin-left: 1.6667%; 
}
#imagescontainer{
    margin-left: 2rem;
}
@media only screen and (max-width: 600px) {
/* remember to make the index.html image responsive */
/* rememebr to make the gallery responsive */
/* flags and contacts tooo */
  }
